body {
    margin: 0;
    padding: 0;
    background: #85c5ed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
}
.container {
    text-align: center;
    background: rgb(247, 244, 244);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
h1 {
    margin-bottom: 20px;
}#display {
    font-size: 50px;
    margin-bottom: 20px;
    font-weight: bold;
}
button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    background-color: black;
    color: aliceblue;
}
button:hover {
    opacity: 0.8;
}